html,body {
	position: relative;
	min-width: 100%;
	min-height: 100%;
}
body {
    padding-bottom: 4em;
}
#stickyHeader {
    display: block;
    overflow: hidden;
    background-color: transparent;
}
#heading {
    text-align: center;
    font-family: "Lobster";
    font-size: 4em;
    margin: 0 0 .3em;
    padding: 0;
}
#mainNav {
    transition: all .2s ease-in;
    text-align: center;
    padding: 1em;
    z-index: 100;
}
.stuck {
    padding: .5em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #FFFFFF;
    box-shadow: 0 1px 5px #EDEDED;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, .85);
    z-index: 1000;
    .btn-cnt {
        padding: 1em;
        margin: 0;
    }
    .flat.btn {
        color: #FFFFFF;
    }
    small {
        color: #FFFFFF;
        padding: 0 $baseline;
    }
}

.animations {
    .btn {
        width: 100%;
    }
}
section .container {
    padding: 2em 0;
}
.heading {
    margin-top: 0;
    position: relative;
}
#main {
    margin-bottom: 5em;
    overflow: hidden;
    position: relative;
}

.animation {
    background-color: #FFF;

}
.animation.ng-enter, .animation.ng-leave {
    position: absolute;
    width: 100%;
    animation-duration: 1s;
}
.animation.ng-enter {

    animation-name: bounceInRight;
    z-index: 99;
}
.animation.ng-leave {
    animation-name: hinge;
    z-index: 88;
}
