<section id="grid" class="animated bounceInLeft"> <div class="container"> <h2 class="heading">Grid system</h2> <hr> <div class="row"> <div class="col-12"> <div class="demo-col">col-12 / col-full</div> </div> </div> <div class="row"> <div class="col-6"> <div class="demo-col">col-6 / col-half</div> </div> <div class="col-6"> <div class="demo-col">col-6 / col-half</div> </div> </div> <div class="row"> <div class="col-8"> <div class="demo-col">col-8 / col-two-thirds</div> </div> <div class="col-4"> <div class="demo-col">col-4 / col-third</div> </div> </div> <div class="row"> <div class="col-3"> <div class="demo-col">col-quarter/col-3</div> </div> <div class="col-9"> <div class="row"> <div class="col-half"> <div class="demo-col">half of 2/3</div> </div> <div class="col-half"> <div class="demo-col">half of 2/3</div> </div> </div> </div> </div> <pre><code class="language-markup">

    &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;col-12&quot;&gt;col full&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;col-6&quot;&gt;.col-half&lt;/div&gt;
        &lt;div class=&quot;col-6&quot;&gt;.col-half&lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;row&quot;&gt;
        &lt;div class=&quot;col-8&quot;&gt;.col-8&lt;/div&gt;
        &lt;div class=&quot;col-4&quot;&gt;.col-4&lt;/div&gt;
    &lt;/div&gt;
            </code></pre> </div> </section>