<section id="alerts">
    <div class="container">
        <h2 class="heading">Feedback Alerts</h2>
        <hr>
        <div class="row">
            <div class="col-half">
                <h3>Information</h3>
                <div class="alert-info animated flipInX">
                    <p>
                        <strong>Information alert</strong>
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <pre>
						<code class="language-markup">
&lt;div class=&quot;alert-info animated flipInX&quot;&gt;
	&lt;p&gt;&lt;strong&gt;Information alert&lt;/strong&gt;&lt;/p&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit.&lt;/p&gt;
&lt;/div&gt;
						</code>
					</pre>

            </div>
            <div class="col-half">
                <h3>Error</h3>
                <div class="alert-error animated flipInX">
                    <p>
                        <strong>Information alert</strong>
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <pre>
						<code class="language-markup">
&lt;div class=&quot;alert-error animated flipInX&quot;&gt;
	&lt;p&gt;&lt;strong&gt;Information alert&lt;/strong&gt;&lt;/p&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit.&lt;/p&gt;
&lt;/div&gt;
						</code>
					</pre>
            </div>
        </div>
        <div class="row">
            <div class="col-half">
                <h3>Warning</h3>
                <div class="alert-warning animated flipInX">
                    <p>
                        <strong>Information alert</strong>
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <pre>
						<code class="language-markup">
&lt;div class=&quot;alert-warning animated flipInX&quot;&gt;
	&lt;p&gt;&lt;strong&gt;Information alert&lt;/strong&gt;&lt;/p&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit.&lt;/p&gt;
&lt;/div&gt;
						</code>
					</pre>
            </div>
            <div class="col-half">
                <h3>Success</h3>
                <div class="alert-success animated flipInX">
                    <p>
                        <strong>Information alert</strong>
                    </p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                </div>
                <pre> <code class="language-markup">
&lt;div class=&quot;alert-success animated flipInX&quot;&gt;
	&lt;p&gt;&lt;strong&gt;Information alert&lt;/strong&gt;&lt;/p&gt;
	&lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit.&lt;/p&gt;
&lt;/div&gt;
						</code>
					</pre>
            </div>
        </div>
    </div>
</section>
