<section id="buttons" ng-controller="MainCtrl">
    <div class="container">
        <h2 class="heading">Buttons</h2>
        <hr>
        <div class="row">
            <div class="col-4">
                <h3>Button styles</h3>
                <p ng-repeat="style in buttons.styles">
                    <button class="btn {{style}}">{{style}}</button>
                </p>


                <!-- <p class="btn-cnt">
                    <button class="btn circle flat"><i class="fa fa-remove"></i>
                    </button>
                    <button class="btn circle "><i class="fa fa-sun-o"></i>
                    </button>
                    <button class="btn circle raised"><i class="fa fa-university "></i>
                    </button>
                </p> -->
            </div>
            <div class="col-4">
                <h3>Button Colors</h3>
                <p ng-repeat="color in buttons.colors">
                    <button class="btn {{color}}">{{color}}</button>
                </p>
            </div>
            <div class="col-4">
                <h3>Button sizes</h3>
                <p ng-repeat="size in buttons.sizes">
                    <button class="btn {{size}}">{{size}}</button>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <pre class="language-markup">
					<code>
&lt;button class=&quot;btn flat&quot;&gt;Flat&lt;/button&gt;

&lt;button class=&quot;btn&quot;&gt;Default&lt;/button&gt;

&lt;button class=&quot;btn raised&quot;&gt;Raised&lt;/button&gt;

&lt;button class=&quot;btn circle flat&quot;&gt;&lt;i class=&quot;fa fa-remove&quot;&gt;&lt;/i&gt;&lt;/button&gt;

&lt;button class=&quot;btn circle &quot;&gt;&lt;i class=&quot;fa fa-sun-o&quot;&gt;&lt;/i&gt;&lt;/button&gt;

&lt;button class=&quot;btn circle raised&quot;&gt;&lt;i class=&quot;fa fa-university &quot;&gt;&lt;/i&gt;&lt;/button&gt;
					</code>
				</pre>
            </div>
            <div class="col-4">
                <pre class="language-markup">
					<code>
&lt;button class=&quot;btn&quot;&gt;Default&lt;/button&gt;

&lt;button class=&quot;btn positive&quot;&gt;positive&lt;/button&gt;

&lt;button class=&quot;btn neutral&quot;&gt;neutral&lt;/button&gt;

&lt;button class=&quot;btn negative&quot;&gt;negative&lt;/button&gt;
					</code>
				</pre>
            </div>
            <div class="col-4">
                <pre class="language-markup">
					<code>
&lt;button class=&quot;btn small&quot;&gt;Small&lt;/button&gt;

&lt;button class=&quot;btn&quot;&gt;Default&lt;/button&gt;

&lt;button class=&quot;btn large&quot;&gt;Large&lt;/button&gt;
					</code>
				</pre>
            </div>

        </div>
    </div>

</section>
