<section id="buttons">
    <div class="container">
        <h2 class="heading">Buttons</h2>
        <hr>
        <div class="row">
            <div class="col-4">
                <h3>Button styles</h3>
                <p>
                    <button class="btn flat">Flat</button>
                </p>
                <p>
                    <button class="btn">Default</button>
                </p>
                <p>
                    <button class="btn raised">Raised</button>
                </p>

                <p class="btn-cnt">
                    <button class="btn circle flat"><i class="fa fa-remove"></i>
                    </button>
                    <button class="btn circle "><i class="fa fa-sun-o"></i>
                    </button>
                    <button class="btn circle raised"><i class="fa fa-university "></i>
                    </button>
                </p>
            </div>
            <div class="col-4">
                <h3>Button Colors</h3>
                <p>
                    <button class="btn">Default</button>
                </p>
                <p>
                    <button class="btn positive">positive</button>
                </p>
                <p>
                    <button class="btn neutral">neutral</button>
                </p>
                <p>
                    <button class="btn negative">negative</button>
                </p>
            </div>
            <div class="col-4">
                <h3>Button sizes</h3>
                <p>
                    <button class="btn small">Small</button>
                </p>
                <p>
                    <button class="btn">Default</button>
                </p>
                <p>
                    <button class="btn large">Large</button>
                </p>

            </div>
            <!-- <div class="col-3">
				<h3>HTML elements</h3>
				<p><button class="btn">Button</button></p>
				<p><a href="" class="btn positive">Anchor Button</a></p>
				<p><input type="submit" class="btn negative" value="Submit button"></p>
				<p><input type="button" class="btn neutral" value="Button input"></p>
			</div> -->
        </div>
        <div class="row">
            <div class="col-4">
                <pre class="language-markup">
					<code>
&lt;button class=&quot;btn flat&quot;&gt;Flat&lt;/button&gt;

&lt;button class=&quot;btn&quot;&gt;Default&lt;/button&gt;

&lt;button class=&quot;btn raised&quot;&gt;Raised&lt;/button&gt;

&lt;button class=&quot;btn circle flat&quot;&gt;&lt;i class=&quot;fa fa-remove&quot;&gt;&lt;/i&gt;&lt;/button&gt;

&lt;button class=&quot;btn circle &quot;&gt;&lt;i class=&quot;fa fa-sun-o&quot;&gt;&lt;/i&gt;&lt;/button&gt;

&lt;button class=&quot;btn circle raised&quot;&gt;&lt;i class=&quot;fa fa-university &quot;&gt;&lt;/i&gt;&lt;/button&gt;
					</code>
				</pre>
            </div>
            <div class="col-4">
                <pre class="language-markup">
					<code>
&lt;button class=&quot;btn&quot;&gt;Default&lt;/button&gt;

&lt;button class=&quot;btn positive&quot;&gt;positive&lt;/button&gt;

&lt;button class=&quot;btn neutral&quot;&gt;neutral&lt;/button&gt;

&lt;button class=&quot;btn negative&quot;&gt;negative&lt;/button&gt;
					</code>
				</pre>
            </div>
            <div class="col-4">
                <pre class="language-markup">
					<code>
&lt;button class=&quot;btn small&quot;&gt;Small&lt;/button&gt;

&lt;button class=&quot;btn&quot;&gt;Default&lt;/button&gt;

&lt;button class=&quot;btn large&quot;&gt;Large&lt;/button&gt;
					</code>
				</pre>
            </div>

        </div>
    </div>

</section>
