<section id="typography">
    <div class="container">
    <h2 class="heading">Typography</h2>
    <hr>
        <div class="row">
            <div class="col-4">
                <h1>Heading 1</h1>
                <h2>Heading 2</h2>
                <h3>Heading 3</h3>
                <h3>Heading 4</h3>
                <h5>Heading 5</h5>
                <h6>Heading 6</h6>
            </div>
            <div class="col-4">
                <h3>Paragraphs</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. <a href="">Debitis ullam </a>velit expedita. Aspernatur facere minima vitae blanditiis labore. Quibusdam ratione ad, voluptatibus veniam, soluta corporis minus eligendi debitis nesciunt magnam.</p>
                <p><strong>Lorem</strong> ipsum dolor sit amet, <em>consectetur adipisicing </em>elit. <a href="">Debitis ullam </a>velit expedita. Aspernatur facere minima <strike>vitae blanditiis labore.</strike> Quibusdam ratione ad, voluptatibus veniam, soluta corporis minus eligendi debitis nesciunt magnam.</p>
            </div>
            <div class="col-4">
                <h3>Unordered List</h3>
                <ul>
                    <li><a href="">Item 1</a></li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                    <li>Item 4</li>
                    <li>Item 5</li>
                </ul>

                <h3>Ordered List</h3>
                <ol>
                    <li><a href="">Item 1</a></li>
                    <li>Item 2</li>
                    <li>Item 3</li>
                    <li>Item 4</li>
                    <li>Item 5</li>
                </ol>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <h3>Blockquote Example</h3>
                <blockquote>This is blockquote</blockquote>
            </div>
            <div class="col-4">
            <h3>.SCSS Code Example</h3>
                <pre class="language-scss">
                    <code>
&.positive {
    background-color: $btn-positive-bg;
    &:hover {
            background-color: lighten($btn-positive-bg, 5%);
    }
    &:active {
            background-color: darken($btn-positive-bg, 5%);
    }
}
                    </code>
                </pre>
            </div>
            <div class="col-4">
            <h3>HTML Code Example</h3>
                <!-- For markup you need to remove all the < > and replace them wqith html entities like &lt; &gt;  -->
                <pre class="language-markup">
                    <code>
&lt;p class=&quot;btn-cnt left&quot;&gt;
    &lt;button class=&quot;btn small&quot;&gt;Small&lt;/button&gt;
    &lt;button class=&quot;btn&quot;&gt;Default&lt;/button&gt;
    &lt;button class=&quot;btn large negative flat&quot;&gt;Large&lt;/button&gt;
&lt;/p&gt;
                    </code>
                </pre>
            </div>

        </div>
    </div>
</section>